
# node environment variable file
.env

# npm
node_modules/
npm-debug.log

# build output
built/
docs/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.lock

