
# node environment variable file
.env*
!.env.example
!.env.docker

# our own docker mounts
.temp

# npm
node_modules/
npm-debug.log

# yarn
yarn-error.log

# vscode
.vscode

# build output
built/

# Ignore changes to set_env scripts
scripts/set_env.*

# Ignore logging outputs
app/logs/*
app/yarn-error.log

# Ignore .venv* folders
.venv*

# scottish lidar stuff
# Ignore unzipped grids
app/import/scotland-gov-lidar/data/grids/scotland-os-grids-wgs84/*.geojson
app/import/scotland-gov-lidar/data/*.json


